<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Juan José Hoyos{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'portfolio/grafico-circular.png' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Noto+Sans&display=swap"
        rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: 'Bitter', serif;
            font-family: 'Noto Sans', sans-serif;
        }
    </style>
</head>

<body class="color">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#FFFFFF">
        <div class="container">

            <!--For brand name-->
            <a class="navbar-brand" href="/">
                {% load static %}
                <img src="{% static 'portfolio/grafico-circular.png' %}" width="30" height="30" alt=""
                    style="margin-right: 2rem;">
                Juan José Hoyos Urcué
            </a>

            <!--For smartphones and tablets menu-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Menu de Navegacion">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Perfil</a>
                    </li>

                    <li class="nav-item">
                        <a href="/skills" class="nav-link">Habilidades</a>
                    </li>

                    <li class="nav-item">
                        <a href="/portfolio" class="nav-link">Portafolio</a>
                    </li>

                    <li class="nav-item">
                        <a href="/education" class="nav-link">Educación</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/juan-jos%C3%A9-hoyos-urcu%C3%A9-0b21a5120/" target="_blank"
                            class="nav-link text-primary">Linkedin</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://github.com/2203juan?tab=repositories" target="_blank"
                            class="nav-link text-primary">Github</a>
                    </li>

                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/en" role="button">Switch to English</a>
                    </li>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!--Content-->
    <div class="container color" style="background-color: white;">

        <!--Profile-->
        <div class="image">
            <div class="row" style="background-color: #FFF9BF;">
                <div class="col">
                    <h1 class="text-center home_text">Juan José Hoyos Urcué</h1>
                    <h5 class="text-center ">Estudiante de 9° semestre de Ingeniería de Sistemas y Computación en la
                        Universidad
                        Javeriana
                        Cali</h5>
                    <h6 class="text-center "><a href="mailto:juanjohupuj@javerianacali.edu.co">juanjohupuj@javerianacali.edu.co</a>
                    </h6>
                    <h6 class="text-center "><a href="tel: 3157729287">+57 315 772 92 87</a></h6>
                </div>
            </div>
            <br><br>

            <div class="row text-center">

                <div class="col">
                    {% load static %}
                    <img src="{% static 'portfolio/dWcdIe4.jpeg' %}" style="width: 290px; height: 350px;"
                        class="rounded" alt="">
                    <br>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="card" style="background-color: #CDF8F1">
                        <div class="card-header"><strong>Perfil</strong></div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="text-justify">Me apasiona optimizar procesos productivos en las empresas y
                                    contribuir
                                    a su crecimiento. Utilizando el análisis de datos, soy capaz de encontrar patrones,
                                    proyecciones e incluso predicciones que innatamente están invisibles en los datos,
                                    convierto
                                    los datos en información y la información en conocimiento, el cual puedo llevar a
                                    entornos
                                    productivos donde es realmente útil, asistiendo la toma de decisiones con fundamento
                                    científico.
                            </blockquote>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</body>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <br>
    <div class="text-center p-3 text-white bg-primary">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Juan José Hoyos Urcué</a>
    </div>
    <!-- Copyright -->
</footer>

</html>