{% extends 'portfolio/base.html' %}

{% block title %}Juan Jose Hoyos{% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <h1 class="text-center text-white bg-primary rounded"><strong>Portfolio</strong></h1>
    </div>
</div>

<div class="row">
    {% for p in projects %}
    <div class="col text-center" style="background-color: white;">
        <h2 class="">{{ p.title }}</h2>
        <div class="container">
            <img src="{{ p.image.url }}" alt="" style="width: 20rem; height: auto;">
        </div>
        <br>
        <p class="text-justify" style="font-size:1rem;">{{ p.description }}</p>
    </div>
    {% endfor%}
</div>
{% endblock %}